<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <angeo_mcp_checkout>
            <general>
                <enabled>0</enabled>
            </general>
            <limits>
                <max_order_total>100</max_order_total>
                <max_qty_per_item>5</max_qty_per_item>
                <max_cart_items>10</max_cart_items>
                <orders_per_hour>10</orders_per_hour>
                <orders_per_hour_per_ip>10</orders_per_hour_per_ip>
            </limits>
            <payment>
                <allowed_methods>checkmo</allowed_methods>
            </payment>
            <shipping>
                <allowed_countries>NL</allowed_countries>
            </shipping>
            <cleanup>
                <enabled>1</enabled>
                <order_age_hours>24</order_age_hours>
            </cleanup>
        </angeo_mcp_checkout>
    </default>
</config>
